<div class="services-grid">
  {{ range $key, $service := .Site.Data.services }}
    <div class="service-card">
      <div class="service-icon">
        <img src="/images/icons/{{ $service.icon }}.svg" alt="{{ $service.title }} Icon">
      </div>
      <h3>{{ $service.title }}</h3>
      <p>{{ $service.description }}</p>
      <ul class="service-features">
        {{ range first 3 $service.features }}
          <li>{{ . }}</li>
        {{ end }}
      </ul>
      <a href="/services#{{ $service.id }}" class="btn btn-secondary">Learn More</a>
    </div>
  {{ end }}
</div> 